{% extends 'base.html' %}

{% block title %}「{{ object.title }}」{% endblock title %}
{% block h1 %}書籍詳細{% endblock h1 %}


{% block content %}
  <div class="p-4 m-4 bg-light border border-primary rounded container">
    
    <h2>{{ object.title }}</h2>
    {% if item.price == Null%}
      <h6>価格：不明</h6>
    {% else %}
      <h6>価格：{{ item.price }} 円</h6>
    {% endif %}
    {% if item.price == Null%}
      <h6>URL：なし</h6>
    {% else %}
      <h6>URL: {{ object.url }}</h6>
    {% endif %}
    <img src="{{ object.thumbnail.url }}" class="img-thumbnail detailimg" alt="thumbnail">

    <div class="detailtext">
      <p >{{ object.text }}</p>
    </div>

    <a href="{% url 'review' object.pk%}" class="btn btn-primary">レビューする</a>
    <a href="{% url 'add-to-favorites' book.pk %}" class="btn btn-primary">マイページに追加</a>
    <a href="{% url 'list-book' %}" class="btn btn-primary">一覧へ</a>
    <a href="{% url 'update-book' object.pk %}" class="btn btn-primary">編集する</a>
    <a href="{% url 'delete-book' object.pk %}" class="btn btn-primary">削除する</a>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.category }}</h6>

  </div>

    <div class="border p-4 mb-2">
      {% for review in object.review_set.all%}
      <div>
        <h3 class="h4">{{ review.title }}</h3>
        <div class="px-2">
          <span>(投稿ユーザー: {{ review.user.username }})</span>
          <h6>評価: {{ review.rate}}</h6>
          <p>{{ review.text}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    
  <style>
    .container {
    overflow: auto; /* floatをクリアするため */
    }

    .detailimg {
      float: left;
      width: 40%; /* 画像の幅 */
      margin-right: 20px; /* 画像とテキストの間にスペースを作る */
      height: auto;
    }
    
    .detail p {
      overflow: hidden;
      color: blue;
        
    }
    </style>
      
    
    

  
      
  
{% endblock content %}