{% extends 'base.html' %}

{% block title %} お問い合わせ {% endblock %}
{% block h1 %} お問い合わせ {% endblock %}
{% block content %}
    <form method="post" class="p-4 m-4 bg-light border border-primary rounded form-group">
        {% csrf_token %}
        
        <input class="form-control form-control-lg" name="title" type="text" placeholder="件名" aria-label=".form-control-lg example">

        <div class="form-floating mb-3 email">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">メールアドレス</label>
          </div>

          <div class="form-floating">
            <textarea class="form-control quecon" name="text" placeholder="お問い合わせ内容" id="floatingTextarea2" style="height: 200px"></textarea>
            <label for="floatingTextarea2">内容</label>
          </div>
        
        
        
        <button type="submit" class="btn btn-primary mt-4">送信する</button>
    </form>
{% endblock %}